DJANGO_SECRET_KEY=dev-insecure-secret-key-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=

DATABASE_NAME=wms_almoxarifado
DATABASE_USER=wms_almoxarifado
DATABASE_PASSWORD=wms_almoxarifado
DATABASE_HOST=localhost
DATABASE_PORT=5432
